/* BODY */
body{
    background-color: white;
}
/* SIDEBAR */
 #wrapper {
    overflow-x: hidden;
  }
  
  #sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
  width: 15rem;
  }
  
  #page-content-wrapper {
  min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
  
  }
  
  @media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
    width: 18vw;
  }
  
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
  }


  .page-title{
      padding: 20px 0px 20px 0px;
  }
  .page-title h4{
      margin: 0;
}

/* NAVBAR */
.navbar{
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}

/* POST */
.post-categories{
  height: 30vh;
  overflow: auto;
}